body {
    font-family: 'Roboto', sans-serif;
    background: #f9f6f6;
}

p {
    color: #858585
}

/* .navbar a {
    color: rgb(187, 89, 89);
} */



#news-category-container p {
    cursor: pointer;
}